:root {
    font-size: 16px;
    --text-primary: white;
    --text-secondary: #525FE1;
    --bg-primary: #525FE1;
    --bg-secondary: #F67001;
}

/* html {
    scrollbar-width: thin;
    scrollbar-color: #6649b8 #FFFFFF00;
    
} */
body {
    /* background-color: var(--bg-primary); */
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: #1e1e24;
}

::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.bg-sec {
    background-color: var(--bg-secondary);
}

.bg-sec:hover {
    background-color: #ff831e;
}

.text-sec {
    color:var(--text-secondary);
}
.scale1 {
    /* display: flex; */
    /* width: 100vh; */
    max-height: 90vh;
    /* max-height:100vh; */
    /* width: 100%; */
    /* padding-left: 10vh;
    padding-bottom: 3vh;
    margin-right:5vh; */
}

#home {
    /* flex-wrap: wrap; */
    display:grid;
    max-height: fit-content;
}



#features {
    background-color:#FDFDFD;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.bg-primary {
    background-color: var(--bg-primary) !important;
}



.feature-text {
    min-height: 7.5rem;
}

.dropdown-menu{
    display: none;
    width: 7.2rem;
}

#dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 4px;
    
    /* transition: all 300ms ease; */
    /* min-width: 10rem; */
}

#dropdown {
    justify-content: center;
}

.dropdown-item {
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.github {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
}

.fill-whtie {
    stroke:white;
}

.icon {
    /* width: 3px;
    height: 3px; */
    /* margin-top: 4px; */
  }

.chevron-down {
    background-color: white;
    -webkit-mask: url(/assets/icons/chevron-down.svg) no-repeat center;
    mask: url(/assets/icons/chevron-down.svg) no-repeat center;
}

.login-div {
    height:25rem;
    min-width: 100%;
}

.cpink {
    color:rgba(226,3,122);
}

#login-sec {
    background-color: white;
}



.role-div {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    margin: 0rem 1rem;
    justify-content: center;
    align-items: center;
}



.fa {
    font-size: 10rem;
    color:#183153;
}

.icon-color {
    color:#183153;
}

 @media (min-width:641px){ /*756px */
    #home {
        grid-template-columns: 1fr 1fr;
        /* grid-template-areas: "hd img"; */
        justify-items: center;
    }
    .container {
        margin-bottom: 6rem;
    }
    h1 {
        /* fs-l2 lh-2 md-fs-x7 md-lh-1 fw-700 */
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 800;
    }
    #desc {
        display: block;
    }
}

@media (max-width:1013px){
    #desc {
        display: none;
    }
}



@media (max-width:640px)  and (orientation:landscape){
    #home {
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
        /* order:2; */
        grid-template-areas: "hd img";
    }
    h1 {
        /* fs-l2 lh-2 md-fs-x7 md-lh-1 fw-700 */
        font-size: large 2;
        line-height: 2rem;
        font-weight: 600;
    }
    /* #desc {
        display: none;
    } */
    .container {
        grid-area: hd;
    }
    .container1 {
        grid-area: img;
        display: flex;
        justify-content: flex-end;
    }
    .scale1 {
        max-height: 50vh;
    }
}
/* 
@media (max-width: 900px){
    .scale1 {
        order:-1;
        max-height:47vh;
    }
}

@media (max-width: 1212px) {
    #home {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 1213px) {
    #home {
        justify-content: space-around;
    }
} */

