<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Assign.ly</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- Custom Scroll bar -->
    <link rel="stylesheet" href="/css/OverlayScrollbars.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery.overlayScrollbars.min.js"></script>
    <script src="https://kit.fontawesome.com/594bf01cf2.js" crossorigin="anonymous"></script>

</head>

<body class="muli">
    <script>
        $(function ($) {
            "use strict";
            $('body').overlayScrollbars({
                className: "os-theme-dark",
            })
        });
    </script>
    <nav class="w-100pc flex flex-row md-px-10 py-5 bg-primary" th:fragment="copy">
        <div class="flex justify-between mx-4 md-mx-s1 lg-mx-l3">
            <a href="/" class="flex items-center p-2  no-underline lh-2 white fs-m3 md-fs-x13 md-lh-1 fw-900">
                <!-- <img class="max-h-l2 w-auto" src="assets/images/logo.png" /> -->
                Assign.ly
            </a>
            <!-- <a data-toggle="#dropdown" data-target="#nav-items" href="#"
                class="flex items-center ml-auto md-hidden white no-underline opacity-100 ease-100 p-1 m-3">
                <img src="/assets/icons/menu.svg" class="h-3 w-3 ml-1">
                <i class="far fa-user-circle fs-m3"></i>
            </a> -->
        </div>
        <div id="nav-items" class="flex w-100pc no-wrap items-center justify-end">
            <div id="dropdown" class="relative inline-block flex mx-5">
                <a href="#" class="white fw-600 no-underline hover-opacity-100 ease-100"
                    data-toggle="dropdown">
                    <i class="far fa-user-circle fs-m3"></i>
                    <!-- <img src="/assets/icons/chevron-down.svg" class="h-3 w-3 ml-1"> -->
                </a>
                <div class="dropdown-menu absolute z-100 top-100pc py-1 fs-s1 ">
                    <div class="shadow-3 br-6 bg-white  border">
                        <a class="dropdown-item p-3 hover-bg-gray-lightest no-underline hover-scale-up-1 ease-100 fw-600"
                            href="/profile" th:text="${username}"></a>
                        <a class="dropdown-item p-3 pink hover-bg-gray-lightest no-underline hover-scale-up-1 ease-100 fw-600"
                            th:href="@{/logout}">Log out</a>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <!-- hero section -->
    <div class="flex justify-end">
        <a th:href = "@{/assignments/new}" class="button bg-pink m-4  hover-opacity-100 grow no-underline">
            <i class="fas fa-plus-circle mr-2"></i> Create
        </a>
    </div>
    <div class="flex flex-column items-center justify-center mt-8">
        <div href="" class="w-75pc br-8 border m-3 flex items-center justify-between shadow grow-01 no-underline"
        th:each= "assignment: ${assignments}">
            <div class="flex flex-row items-center">
                <div class="pl-5 bg-cover br-l-8">
                    <i class="fas fa-book-open assignment-icon flex justify-center gray-darkest"></i>
                </div>
                <div class="p-5">
                    <h2 class="gray-darkest fs-m2 fw-600" th:text = "${assignment.title}">Assignment 2</h2>
    
                    <h5 class="gray-darkest fs-s1 fw-600" th:text = "${assignment.course} + ' - ' 
                    + 'Due ' + ${#dates.monthName(assignment.date)} + ' ' 
                    + ${#dates.day(assignment.date)} + ', ' + ${#dates.year(assignment.date)}  + ' '
                    + ${#dates.format(assignment.date, 'h :mm a')}">Course - Deadline</h5>
                </div>
            </div>
            <div class="assignment-button mr-4 flex items-center">
                <a id="view" href=""
                        class = "no-underline">
                    <i class="fas fa-list-ul"></i>
                </a>
                <a id="update" th:href = "@{/assignments/edit/{id}(id=${assignment.id})}" href=""
                        class = "no-underline ml-4">
                    <i class="far fa-edit"></i>
                </a>
                <a id="delete" th:href = "@{/assignments/{id}(id=${assignment.id})}" href=""
                        class = "no-underline ml-3">
                    <i class="far fa-trash-alt"></i>    
                </a>
            </div>
            
        </div>

        
    </div>
    
    

    <!-- footer -->
   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>