<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Assign.ly</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- Custom Scroll bar -->
    <link rel="stylesheet" href="/css/OverlayScrollbars.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery.overlayScrollbars.min.js"></script>
    <script src="https://kit.fontawesome.com/594bf01cf2.js" crossorigin="anonymous"></script>

</head>

<body class="muli">
    <script>
        $(function ($) {
            "use strict";
            $('body').overlayScrollbars({
                className: "os-theme-dark",
            })
        });
    </script>
  	<nav class="w-100pc flex flex-row md-px-10 py-5 bg-primary" th:include="assignments :: copy"></nav>
    

    <!-- hero section -->
    <div class="flex flex-column items-center justify-center mt-8">
        <a th:href="@{/submit-page/{id} (id=${assignment.id})}" class="w-75pc br-8 border m-3 flex items-center justify-between shadow grow-01 no-underline"
        th:each= "assignment: ${assignments}">
            <div class="flex flex-row items-center">
                <div class="pl-5 bg-cover br-l-8">
                    <i class="fas fa-book-open assignment-icon flex justify-center gray-darkest"></i>
                </div>
                <div class="p-5">
                    <h2 class="gray-darkest fs-m2 fw-600" th:text = "${assignment.title}">Assignment 2</h2>
    
                    <h5 class="gray-darkest fs-s1 fw-600" th:text = "${assignment.course} + ' - ' + ${#dates.format(assignment.date, 'dd.MM.yyyy')}">Course - Deadline</h5>
                </div>
            </div>
            
        </a>

        
    </div>
    
    

    <!-- footer -->
   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>