<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>File Upload/View</title>

</head>

<body>
    <div>
        <h3> Upload Mutiple Files</h3>
        <form id="uploadFiles" name="uploadFiles" method="POST" 
        th:action="@{/uploadFiles}" enctype="multipart/form-data">
            <input type="file" name="files" required />
            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h3> List of Documents</h3>
        <table>
            <thead>
                <tr>
                    <th> Id</th>
                    <th>Name</th>
                    <th>Download Link</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="doc:${docs}">
                    <td th:text="${doc.Id}"></td>
                    <td th:text="${doc.docName}"></td>
                    <td><a th:href="@{'/downloadFile/' + ${doc.id}}" 
                        th:attr="download=${doc.docName}">Download</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>