<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Assign.ly</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- Custom Scroll bar -->
    <link rel="stylesheet" href="/css/OverlayScrollbars.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery.overlayScrollbars.min.js"></script>
    <script src="https://kit.fontawesome.com/594bf01cf2.js" crossorigin="anonymous"></script>
</head>

<body class="muli">
    <script>
        $(function ($) {
            "use strict";
            $('body').overlayScrollbars({
                className: "os-theme-dark",
            })
        });
    </script>
     <nav class="w-100pc flex flex-row md-px-10 py-5 bg-primary" th:include="assignments :: copy"></nav>

    <!-- hero section -->
    <div class="flex flex-column items-center justify-center mt-3">
            <div class="flex flex-column asap mt-l3 mb-l3 login-div">
                <form th:action="@{/submit-assignment/{assignmentId} (assignmentId=${assignments.id})}"
                 th:object = "${assignments}" method ="post" class="p-10 border shadow-1 br-8 mx-10 ">
                    <div class="flex flex-row">
                        <div class="flex flex-column w-50pc justify-end">
                            <h2 class="fs-m3 gray-darkest" th:text="${assignments.title}">Title</h2>
                            <label class="my-1 fw-500" for="title-input" 
                            th:text="'Due ' + ${#dates.monthName(assignments.date)} + ' ' + ${#dates.day(assignments.date)} + ', ' + ${#dates.year(assignments.date)}  + ' '
                            + ${#dates.format(assignments.date, 'hh:mm a')}">Due today, 11:59PM</label>
                        </div>
                        <div class="flex flex-column justify-end">
                            <label class="my-1 fw-600" >Points</label>
                            <div th:text="${assignments.marks}">
                                No points.
                            </div>
                        </div>
                    </div>
                    <div class="h-l1">

                    </div>
                  <div class="flex flex-column gray-darkest mt-3">
                    <label class="my-1 fw-600" for="instruction-input">Instructions</label>
                    <div th:text="${assignments.instructions}">Submit by today.
                    </div>
                    <!-- <textarea type="text" class="text-area input resize-vertical br-3" 
                    id="instruction-input" placeholder="Enter instructions"
                    th:field = "*{instructions}"></textarea> -->
                    <div class="flex" th:object="${submission}">
                        <a href="" class="no-underline mt-2 pink">
                            <i class="fas fa-paperclip mr-1"></i>Attach
                        </a>
                        <input type="text" class="input ml-3" th:field="*{doc}">
                    </div>
                  </div>
                  <div class="h-25vh">

                  </div>
                    <div class="mt-6">
                        <button type="submit" class="button w-100pc bg-indigo fw-600 hover-opacity-100">Turn in</button>
                    </div>

                </form>
            </div>

        
    </div>
    
    

    <!-- footer -->
   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>